@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
--primary-blue: hsl(215, 51%, 70%);
--primary-cyan: hsl(178, 100%, 50%);
--neutral-main: hsl(217, 54%, 11%);
--neutral-card: hsl(216, 50%, 16%);
--neutral-line: hsl(215, 32%, 27%);
--neutral-white: hsl(0, 0%, 100%);
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    font-size: 18px;
    background-color: var(--neutral-main);
    color: var(--neutral-white);
    display: grid;
    justify-items: center;
    align-content: center;
}

.outer__container {
    width: 50%;
    max-width: 350px;
    background-color: var(--neutral-card);
    padding: 20px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr auto;
    box-shadow: 7px 5px 8px  rgba(31, 31, 31, 0.334);


}

.text__holder {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.number, .days {
    
    gap: 5px;
    font-size: 1rem;
    white-space: nowrap;

    

}
.number img,
    .days img {
        height: 15px;
        vertical-align: -1.2px;
        margin-right: 5px;
    }

.info {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;

}

.days {
    justify-self: end;
}





.img__holder {
    min-height: 0;
    position: relative;
    cursor: pointer;

}

.number {
    color: var(--primary-cyan)
}



.img__holder img {
     border-radius: 10px;
     width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    cursor: pointer;
}

.img__holder::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background: url(images/icon-view.svg) no-repeat center;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 2;
    
}

.img__holder::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--primary-cyan);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.img__holder:hover::before, 
.img__holder:hover::after {
    opacity: 0.6;
}


.text__holder p {
    color: var(--primary-blue)
}

.author {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
    gap: 10px;
    border-top: 2px solid var(--neutral-line);
    padding-top: 10px;

}

.author img {
    width: 15%;
    height: auto;
    object-fit: cover;
}

.author b {
    color: var(--neutral-white);
    cursor: pointer;
}

.author b:hover {
    color: var(--primary-cyan)
}

@media (max-width: 600px) {
    .outer__container {
        text-align: center;
    }
    .info {
        grid-template-columns: 1fr;
        gap: 10px;
        

        justify-content: center;
    }

    .days {
        justify-self: center;
    }
    .author {
        justify-content: center;
    }
}




